*{
    margin: 0 auto;
    padding: 0;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* nav bar start */

header{
    padding-top: 16px;
    padding-bottom: 16px;
}

nav{
    display: flex;
    width: 70%;
    max-width: 1300px;
    align-items: left;
}


.top-button{
    border-radius: 100px;
    padding: 8px 12px 8px 12px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #30B868;
    margin-bottom: 16px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    padding: 10px 50px 34px 50px;
    line-height: 152%;
    font-weight: 500;
    align-items: right;
}

.btn-1{
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
}


/* nav bar end */

/* second part start */

.second-container{
    background-image: url(../assets/hero-bg.png);
    padding: 70px 120px 134px 120px;
    width: 1280px;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    text-align: center;
    padding-top: 105px;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.content h3{
    font-size: 80px;
    line-height: 84px;
    font-weight: bold;
    color: white;
    padding-bottom: 16px;
}

.content span{
    color: #30B868;
}

.content p{
    font-size: 20px;
    line-height: 24px;
    padding-left: 320px;
    padding-right: 320px;
    padding-bottom: 32px;
    color: white;
}


.btn-2{
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #30B868;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    gap: 200px;
}

.btn-3{
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    background-color: transparent;
}

/* second part end */

/* thrid part start */


.thrid-section h3{
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 16px;
}

.thrid-section p{
    font-size: 16px;
    color: #627382;
    text-align: center;
    line-height: 20px;
    padding-bottom: 50px;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px; 
}

/* card-1 start */

.card-1{
    padding: 10px 10px 10px 10px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: rgb(227, 201, 169);
}

.card-1 img{
    background-color: red;
    border-radius: 100px;
    padding: 14.04px 13.96px 14.09px;
    text-align: center;

}

.card-1 h3{
    font-size: 24px;
}

.card-1 p{
    font-size: 16px;
    line-height: 20px;
}

/* card 1 end */

/* card 2 start */

.card-2{
    padding: 10px 10px 10px 10px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: rgb(227, 201, 169);
}

.card-2 img{
    background-color: red;
    border-radius: 100px;
    padding: 14.04px 13.96px 14.09px;
}

.card-2 h3{
    font-size: 24px;
}

.card-2 p{
    font-size: 16px;
    line-height: 20px;
}

/* card 2 end */

/* card 3 start */

.card-3{
    padding: 10px 10px 10px 10px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: rgb(227, 201, 169);
}

.card-3 img{
    background-color: red;
    border-radius: 100px;
    padding: 14.04px 13.96px 14.09px;
}

.card-3 h3{
    font-size: 24px;
}

.card-3 p{
    font-size: 16px;
    line-height: 20px;
}

/* card 3 end */

/* card 4 start */

.card-4{
    padding: 10px 10px 10px 10px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: rgb(227, 201, 169);
}


.card-4 img{
    background-color: red;
    border-radius: 100px;
    padding: 14.04px 13.96px 14.09px;
}

.card-4 h3{
    font-size: 24px;
}

.card-4 p{
    font-size: 16px;
    line-height: 20px;
}

/* card 4 end */