* {
  margin: 0 auto;
  padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* nav bar start */

header {
  padding-top: 16px;
  padding-bottom: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 80%; */
  max-width: 100%;
  /* align-items: left; */
}


.top-button {
  border-radius: 100px;
  padding: 8px 12px 8px 12px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #30b868;
  margin-bottom: 16px;
  gap: 20px;
  cursor: pointer;
}

.top-button:hover {
  background-color: rgb(255, 119, 0);
  color: white;
}

.menu {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 16px;
  line-height: 152%;
  font-weight: 500;
  align-items: right;
  /* padding-top: 12px; */
}

.btn-1 {
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  background-color: #30b868;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-1:hover {
  background-color: rgb(255, 119, 0);
}

/* nav bar end */

/* second part start */

.second-container {
  background-image: url(../assets/hero-bg.png);
  padding: 70px 120px 300px 120px;
  width: 1280px;
  height: 400px;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  text-align: center;
  padding-top: 105px;
  padding-left: 40px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.content h3 {
  font-size: 75px;
  line-height: 90px;
  font-weight: bold;
  color: white;
  padding-bottom: 16px;
  padding-right: 170px;
  padding-left: 170px;
}

.content span {
  color: #30b868;
}

.content p {
  font-size: 15px;
  line-height: 24px;
  padding-left: 260px;
  padding-right: 260px;
  padding-bottom: 32px;
  color: white;
}

.btn-2 {
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #30b868;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 16px 12px 16px;
  gap: 40px;
  cursor: pointer;
}

.btn-2:hover {
  background-color: rgb(255, 119, 0);
}

.btn-3 {
  border-radius: 4px;
  gap: 40px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 16px 12px 16px;
  background-color: transparent;
  cursor: pointer;
}

.btn-3:hover {
  background-color: rgb(255, 119, 0);
}

/* second part end */

/* thrid part start */

.thrid-section h3 {
  font-size: 48px;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 16px;
}

.thrid-section p {
  font-size: 16px;
  color: #627382;
  text-align: center;
  line-height: 20px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
  gap: 20px;
}

/* card-1 start */

.card-1 {
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #000000;
}

.card-1 img {
  background-color: #f95555;
  border-radius: 100px;
  padding: 14.04px 13.96px 14.09px;
  text-align: center;
  /* margin-top: 20px; */
}

.card-1 h3 {
  font-size: 24px;
}

.card-1 p {
  font-size: 16px;
  line-height: 20px;
}

/* card 1 end */

/* card 2 start */

.card-2 {
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #000000;
}

.card-2 img {
  background-color: #f95555;
  border-radius: 100px;
  padding: 14.04px 13.96px 14.09px;
}

.card-2 h3 {
  font-size: 24px;
}

.card-2 p {
  font-size: 16px;
  line-height: 20px;
}

/* card 2 end */

/* card 3 start */

.card-3 {
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #000000;
}

.card-3 img {
  background-color: #f95555;
  border-radius: 100px;
  padding: 14.04px 13.96px 14.09px;
}

.card-3 h3 {
  font-size: 24px;
}

.card-3 p {
  font-size: 16px;
  line-height: 20px;
}

/* card 3 end */

/* card 4 start */

.card-4 {
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #000000;
}

.card-4 img {
  background-color: #f95555;
  border-radius: 100px;
  padding: 14.04px 13.96px 14.09px;
}

.card-4 h3 {
  font-size: 24px;
}

.card-4 p {
  font-size: 16px;
  line-height: 20px;
}

/* card 4 end */

/* forth part start */

.forth-container {
  padding: 120px 120px 120px 120px;
}

.forth-content {
  display: flex;
}

.forth-content img {
  width: 500px;
  height: 500px;
}

.p-1 {
  font-size: 16px;
  line-height: 20px;
  color: #30b868;
  padding-bottom: 16px;
}

.left-text {
  padding-left: 150px;
  padding-top: 102px;
}

.left-text h2 {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 16px;
  /* padding-right: 400px; */
}

.p-2 {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  padding-bottom: 16px;
}

.list {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #001931;
  padding-right: 100px;
}

.list i {
  color: #30b868;
}

/* fifith part start */

.fifth-section {
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 120px;
}

.fifth-container {
  background-color: #f6f4ec;
  padding: 80px 40px 80px 40px;
  border-radius: 12px;
  text-align: center;
}

.fifth-content h2 {
  font-size: 40px;
  padding-bottom: 16px;
}

.fifth-content p {
  font-size: 16px;
  line-height: 24px;
  color: #30b868;
  padding-bottom: 16px;
}

.btn-4 {
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #30b868;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.btn-4:hover {
  background-color: rgb(255, 119, 0);
}

.btn-4 img {
  color: white;
}

.p-3 {
  padding-top: 16px;
}

/* fifth part end */

/* footer section start */

footer {
  background-color: #001931;
}

.footer-section {
  display: flex;
  padding: 120px 120px 30px 80px;
  border-bottom: 2px solid white;
  width: 1200px;
}

.social {
  color: white;
  gap: 20px;
}


.social h3 {
  padding-bottom: 12px;
}

.copyright {
  text-align: center;
  background-color: #001931;
  color: white;
  /* border: 1px solid #627382; */
  padding-bottom: 30px;
  padding-top: 30px;
}

.copy{
    margin-top: 2px solid white;
    width: 10px;
}